.wrapper{
  overflow: hidden;
  padding-left:18px;
  padding-right:18px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
  background-color: #76aef7;
  padding-bottom: 18px;
}
.header{
  text-align: center;
  padding: 18px;
  font-size: 3rem;
  font-weight: 100;
  color: white;


}
.header__button-minus{
  display: inline-block;
}
.header__button-plus{
width: 100px;
padding: 20px 20px 0px 20px;

}
.habit-container{
position: relative;

}
.habit-container__element{

position: relative;
background-color: black;
width: 97%;
margin: 0;
text-align: center;
height: 750px;
margin-bottom: 18px;
font-size: 2rem;
list-style: none;
padding: 5px 20px 50px 20px; 

}
.habit-container__headline{
width: 90%;
height: 10%;
background-color: white;
margin:0 auto;
margin-top: 8%;
display: inline-block;

}
.habit-container__textarea {
width: 90%;
height: 70%;
position: relative;
margin-top: 2%;
text-align: left;
margin-bottom: 3%;
font-size: 1.2rem;
background-color: white;
resize: none;
padding: 10px;

}
.habit-container__text{
  font-size: 1.6rem;
  text-align: center;
}
.habit-container__close-icon{
  width: 20px;
  height: 20px;
  background-color: black;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  cursor: pointer;

  }
.habit-container__close-icon__first_cross{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #FFF;
    transform: rotate(45deg) scaleX(1.30);
    transform-origin: 0 0;

  }
.habit-container__close-icon__second_cross{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #FFF;
    transform: rotate(-45deg) scaleX(1.30) translateY(1px);
    transform-origin: 0 100%;
  }
.row{

 position: relative;

}
.row__medium-4 {
    float: left;
    width: 33%;
  }
.row__medium-8 {
    float: left;
    width: 66%;
  }
.menu{
  width: 90%;
  height: 500px;
  background-color: black;
  margin: 1em;
}
