.wrapper{
  overflow: hidden;
  padding-left:18px;
  padding-right:18px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
  background-color: #76aef7;
  padding-bottom: 18px;
}
.header{
text-align: center;
padding: 18px;
font-size: 3rem;
font-weight: 100;
color: white;
}
.header__button-minus{
display: inline-block;
}
.header__button-plus{
display: inline-block;
}
.habit-container{
position: relative;

}
.habit-container__element{

position: relative;
background-color: black;
width: 60%;
margin:0 auto ;
text-align: center;
height: 350px;
margin-bottom: 18px;
font-size: 2rem;
list-style: none;

}
.habit-container__headline{
width: 90%;
height: 13%;
background-color: white;
margin:0 auto;
margin-top: 2%;
display: inline-block;

}
.habit-container__textarea {
width: 90%;
height: 70%;
position: relative;
margin-top: 2%;
text-align: left;
margin-bottom: 18px;
font-size: 1.2rem;
background-color: white;
resize: none;

}
.habit-container__text{
  padding-bottom: 5px;
  font-size: 1.6rem;
  text-align: center;
}
