.habit-container{
position: relative;

&__element{

position: relative;
background-color: black;
width: 70%;
margin: 0;
text-align: center;
height: 750px;
margin-bottom: 18px;
font-size: 2rem;
list-style: none;
padding: 5px 20px 50px 20px;

}

&__headline{
width: 90%;
height: 10%;
background-color: white;
margin:0 auto;
margin-top: 8%;
display: inline-block;

}

&__textarea {
width: 90%;
height: 70%;
position: relative;
margin-top: 2%;
text-align: left;
margin-bottom: 3%;
font-size: 1.2rem;
background-color: white;
resize: none;
padding: 10px;

}

&__text{
  font-size: 1.6rem;
  text-align: center;
}

&__close-icon{
  width: 20px;
  height: 20px;
  background-color: black;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  cursor: pointer;



  &__first_cross{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #FFF;
    transform: rotate(45deg) scaleX(1.30);
    transform-origin: 0 0;

  }

  &__second_cross{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #FFF;
    transform: rotate(-45deg) scaleX(1.30) translateY(1px);
    transform-origin: 0 100%;
  }

  }

}
