.note-list{
  width: 90%;
  min-height: 500px;
  background-color: black;
  margin: 1em;
  display: inline-block;
  /* Why two elements margin, one of them has to be inline-block
  https://stackoverflow.com/questions/9519841/why-does-this-css-margin-top-style-not-work*/


  &__element{
    width: 95%;
    height: 50px;
    background-color: white;
    margin: 10px 0px 10px 7px;
  }

  &__element:hover{
    background-color: #76aef7;
    cursor:pointer;
  }

  &__element-text{
    font-weight: 200;
    font-size: small;
    padding: 2px 0px 2px 10px;
  }

}
